body {
    overflow: hidden;
    font-family: monospace;
}
#pano-viewer {
    background: #000;
}
#pano-features {
    background: rgba(90, 90, 90, 0.692);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
#pano-upload-btn, 
#pano-update-btn,
#pano-rename-btn, 
#pano-delete-btn {
    background-color: #f0f0f0;
    font-weight: 600;
    transition: background 0.2s;
    background-color: #a7a7a7;
}
#pano-list-btn {
    cursor: pointer;
    transition: background 0.5s;
    border-radius: .1rem;
    font-weight: 600;
    background-color: #a7a7a7;
}
#pano-list-btn:hover {
    color: #000;
    background-color: rgb(224, 224, 224);
}
#pano-image-list {
    list-style: none;
    overflow-y: auto;
    max-height: 500px;
    display: none;
}
#pano-image-list li {
    background: #a7a7a7;
    transition: background 0.2s ease;
    transition: color 0.2s ease;
    cursor: pointer;
}
#pano-image-list li.active {
    background-color: #616161;
    color: white;
}
#pano-add-scene:hover {
    border-color: #999;
    background: #f0f0f0;
}
#pano-upload-btn:hover, 
#pano-update-btn:hover,
#pano-delete-btn:hover {
    background-color: rgb(224, 224, 224);
}
