@import url("scrollbar-styles.css");
@import url("layout.css");
@import url("components.css");

/* global styles */
*, *::before, *::after {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}