/* Scrollbar styling for image list */
#pano-image-list::-webkit-scrollbar,
#project-list::-webkit-scrollbar {
    width: 5px;
}
#pano-image-list::-webkit-scrollbar-track,
#project-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}
#pano-image-list::-webkit-scrollbar-thumb,
#project-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
#pano-image-list::-webkit-scrollbar-thumb:hover,#project-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}